.flake8
# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv

# Streamlit
.streamlit/secrets.toml

# IDE
.vscode/
.idea/

# Env files
.env

# OS
.DS_Store
Thumbs.db

# files
requirements_2.txt
logs.log